.image {
    width: 95vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 50px;
    padding-top: 3%;
    
}

.title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 3% 0;
}

.group {
    font-size: 1.5em;
    color: gray;
}

.description {
    text-align: center;
    padding: 4%;
}

