.image {
    width: 85vw;
    height: 40vh;
    object-fit: cover;
    border-radius: 60px;
    padding-top: 3%;
    
}

.title {
    font-family: "Open Sans";
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 3% 0 1% 0;
    color: var(--color-red);
}

.group {
    font-family: "Open Sans";
    font-size: 1.4em;
    color: var(--color-red)
}

.description {
    font-family: "Open Sans";
    text-align: center;
    padding: 3% 5%;
    line-height: 1.2;
    font-size: 1em;
    color: var(--color-blue);
}


