.image {
    width: 95vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 50px;
    padding-top: 3%;
    
}

.title {
    font-family: "Open Sans";
    font-size: 2.7em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin: 3% 0;
}

.group {
    font-family: "Open Sans";
    font-size: 1.5em;
    color: gray;
}

.description {
    font-family: "Open Sans";
    text-align: center;
    padding: 5%;
    line-height: 1.2;
}

.btn {

}

