@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --color-red: #D9042B;
    --color-blue: #034AA6;
    --color-beige: #E5DAD4;
    --color-panna: #FCF7F1;
}